<style>
    #edit {
        background-color: #151515;
        text-align: center;
        top: 50%;
    }

    .footer {
        background-color: #151515;
        left: 0;
        margin-bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 200px;
        padding: 20px;
    }

    #contact {
        margin: 15px;
    }

    #contact a {
        margin-right: 10px;
        color: #fff;
    }

    #contact a:hover {
        color: red;
    }

    #final-text {
        margin-bottom: 0px !important;
    }

    .row {
        padding-top: 50px;
        padding-bottom: 0;
    }

</style>

<div class="row welcome">
    <div class="col-12 footer sticky-bottom">
        <div id="edit">
            <br>
            <br>
            {% comment %} Bookmyshow {% endcomment %}
            <h2 style="color: white;">Bookmyshow</h2>
            <div id="contact">
                <p id="final-text">©2022. All Rights Reserved</p>
            </div> <!-- contact -->
        </div> <!-- EDIT -->
        <br>
    </div>
</div> <!-- col-12 footer sticky-bottom -->
