{% extends 'base.html' %}
{% load static %}
{% block title %}
    Movie Example
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static '/css/movie/movie_detail.css' %}">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock cssblock %}

{% block content %}

<div class="mt-2">
</div>

    <section class="section3">
        <h2 class="TitleO">{{ movie.title }}</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="col">
                        <div class="row">
                            {% if movie.poster %}
                            <div class="col-sm-6" style="text-align: center;"><img class="imge"
                                src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                            </div>
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/no-avatar.png' %}" alt="">
                            {% endif %}
                            <div class="col-sm-6">
                                <span class="font-weight-bold">Genre:&nbsp;<span class="font-weight-light text-danger">{{ movie.genres }}<br></span></span>
                                <span class="font-weight-bold">Release year:&nbsp;<span
                                        class="font-weight-light">{{ movie.year }}<br></span></span>
                                <span class="font-weight-bold">Director:&nbsp;<span class="font-weight-light">{{ movie.director }}<br></span></span>
                                <span class="font-weight-bold">Country:&nbsp;<span
                                        class="font-weight-light text-danger">{{ movie.country }}<br></span></span>
                                <span class="font-weight-bold">Score:&nbsp;<span class="font-weight-light text-danger">{{ movie.imdb_score }}<br></span></span>
                                <p class="Cetr">{{ movie.description|truncatewords:30}}
                                    <a href="{{ movie.imdb_link }}" target="_blank">See more</a>
                                </p>
                                <a href="{% url 'cart:add-to-cart' movie.slug %}" class="btn btn-md btn-outline-danger">
                                    <i class="fas fa-cart-plus"></i>{{ movie.price }}$
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block jsblock %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
