{% extends "base.html" %}

{% load static %}

{% block title %}
    Sign Up | Bookmyshow
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
{% endblock cssblock %}

{% block content %}

<section class="relative">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="separator"><small>Payment success!</small></h1>
        </div>

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <p>
                    <h4>Payment success {{ user.username }} !</h4>
                    <a class="btn btn-danger" href="{% url 'core:home' %}">Return Home</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
